<div id="header" ng-controller="logInCtrl">
	<h1>IssgNS</h1>
	<ul>
		<li><a ui-sref="main">Nazad</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">About</a></li>
		<li><a ng-click="logout()">Odjavi se </a></li>
	</ul>

</div>
<div id="main">
	<div class="main_body">
		<div id="tableContainer-1">
			<div id="tableContainer-2">
				<br />
				<h2 style="text-align: center; color: #0033cc;">
					<u> Dodavanje novog propisa </u>
				</h2>
				<br />
				<hr />
				<br />
				<div>
					<form name="DodajPropisForm" ng-submit="zavrsiPropis(DodajPropisForm.$valid)" novalidate>
						<table id="myTable">
							<tr>
								<th class="sredina">Unesite naziv propisa</th>
							</tr>
							<tr>
								<td class="sredina">
									<input type="text" size="30" name="nazivPropis"
										ng-model="propis.naziv" required />
								</td>
							</tr>
							<tr>
								<td ng-show="DodajPropisForm.nazivPropis.$invalid && !DodajPropisForm.nazivPropis.$pristine" style="color: red">
									Morate uneti naziv propisa!
								</td>
							</tr>
							<tr>
								<th class="sredina">Unesite naziv dela</th>
							</tr>
							<tr>
								<td class="sredina">
									<input type="text" size="30" name="nazivDeo"
										ng-model="deo.naziv" required />
								</td>
							</tr>
							<tr>
								<td ng-show="DodajPropisForm.nazivDeo.$invalid && !DodajPropisForm.nazivDeo.$pristine" style="color: red">
									Morate uneti naziv dela!
								</td>
							</tr>
							<tr>
								<td class="sredina"><select ng-model="deo.izbor">
										<option value=""></option>
										<option value="Clan">Clan</option>
										<option value="Glava">Glava</option>
								</select></td>
							</tr>
							<tr ng-show="deo.izbor === 'Glava'">
								<th class="sredina">Unesite naziv glave</th>
							</tr>
							<tr ng-show="deo.izbor === 'Glava'">
								<td class="sredina">
									<input type="text" size="30" name="nazivGlava"
										ng-model="glavaNaziv"  />
								</td>
							</tr>
<!-- 							<tr>  -->
<!-- 								<td ng-show="DodajPropisForm.nazivGlava.$invalid && !DodajPropisForm.nazivGlava.$pristine && deo.izbor === 'Glava'" style="color: red"> -->
<!-- 									Morate uneti naziv glave!		 -->
<!-- 								</td> -->
<!-- 							</tr> -->
							<tr>
								<th class="sredina">Unesite naziv člana</th>
							</tr>
							<tr>
								<td class="sredina">
									<input type="text" size="30" name="nazivClan"
										ng-model="clan.naziv" required />
								</td>
							</tr>
							<tr> 
								<td ng-show="DodajPropisForm.nazivClan.$invalid && !DodajPropisForm.nazivClan.$pristine" style="color: red">
									Morate uneti naziv člana!
								</td>
							</tr>
							<tr>
								<th class="sredina">Unesite opis člana</th>
							</tr>
							<tr>
								<td class="sredina">
									<textarea type="text" size="30" name="opisClan"
										ng-model="clan.opis" required> 
									</textarea>
								</td>
							</tr>
							<tr>
								<td ng-show="DodajPropisForm.opisClan.$invalid && !DodajPropisForm.opisClan.$pristine" style="color: red">
									Morate uneti opis člana!
								</td>
							</tr>
							<tr>
								<td class="sredina">
									<select ng-model="clan.izbor">
										<option value="">--Izaberite da li će član biti stav
											ili tekst!
										</option>
										<option value="Stav">Stav</option>
										<option value="Tekst">Tekst</option>
									</select>
								</td>
							</tr>
							<tr ng-show="clan.izbor === 'Stav'">
								<th class="sredina">Unesite redni broj stava</th>
							</tr>
							<tr ng-show="clan.izbor === 'Stav'">
								<td class="sredina">
									<input type="text" size="30" name="brojStav"
										ng-model="stavBroj"  />
								</td>
							</tr>
<!-- 							<tr> -->
<!-- 								<td ng-show="DodajPropisForm.brojStav.$invalid && !DodajPropisForm.brojStav.$pristine && clan.izbor === 'Stav'" style="color: red"> -->
<!-- 									Morate uneti redni broj stava! -->
<!-- 								</td> -->
<!-- 							</tr> -->
							<tr ng-show="clan.izbor === 'Stav'">
								<th class="sredina">Unesite tekst stava</th>
							</tr>
							<tr ng-show="clan.izbor === 'Stav'">
								<td class="sredina">
									<textarea type="text" size="30" name="tekstStav"
										ng-model="stavTekst" > 
									</textarea>
								</td>
							</tr>
<!-- 							<tr> -->
<!-- 								<td ng-show="DodajPropisForm.tekstStav.$invalid && !DodajPropisForm.tekstStav.$pristine && clan.izbor === 'Stav'" style="color: red"> -->
<!-- 									Morate uneti tekst stava! -->
<!-- 								</td> -->
<!-- 							</tr> -->
							
							
							<tr ng-show="clan.izbor === 'Tekst'">
								<th class="sredina">Unesite tekst člana</th>
							</tr>
							<tr ng-show="clan.izbor === 'Tekst'">
								<td class="sredina">
									<textarea type="text" size="30" name="tekstClan"
										ng-model="clanTekst" >
									</textarea>
								</td>
							</tr>
							<tr>
<!-- 								<td ng-show="DodajPropisForm.tekstClan.$invalid && !DodajPropisForm.tekstClan.$pristine && clan.izbor === 'Tekst'" style="color: red"> -->
<!-- 									Morate uneti tekst člana!	 -->
<!-- 								</td> -->
							</tr>
							
							<tr>
								<td class="sredina">
									<select ng-model="referenca">
										<option value="">--Da li želite da referncirate?</option>
										<option value="da">Da</option>
										<option value="ne">Ne</option>
									</select>
								</td>
							</tr>
							
							<tr ng-show="referenca === 'da'">
								<th class="sredina">Izaberite propis za refernciranje</th>					
							</tr>
							<tr ng-show="referenca === 'da'">
								<td class="sredina">
									<select ng-model="amandman.propis" ng-change="pronadji(amandman.propis)">
										<option ng-repeat="propis in propisi" value="{{propis}}">
											{{propis.naziv}}
										</option>
									</select>
								</td>
							</tr>
							
							<tr ng-show="referenca === 'da'">
								<th> Izaberite član </th>
							</tr>
							<tr ng-show="referenca === 'da'">
									<td class="sredina">
										<select ng-model="selektovaniClan" ng-change="ubaciClan(selektovaniClan)">
											<option ng-repeat="clan in listaClanova" value="{{clan}}" >
												{{clan.naziv}}
											</option>
										</select>
									</td>
								</tr>

							<tr>
								<td style="text-align: center;">
									<!-- <button type="submit" name="submit"
										style="background-color: transparent; border-color: transparent;">
										<img src="css/images/Next-icon.png" height="35" />
									</button> -->
									<input type="image" value="submit" 
									src="css/images/Next-icon.png" height="35" alt="submit Button" />
	<!-- 								onMouseOver="this.src='submit1.jpg'"> -->
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
