<div id="header" ng-controller="logInCtrl">
	<h1>IssgNS</h1>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">About</a></li>
		<li><a ng-click="logout()">Odjavi se </a></li>
	</ul>
</div>
<div id="main">
	<div class="main_body">
		<div id="tableContainer-1">
			<div id="tableContainer-2">
			<br/>
				<h2 style="text-align: center; color: #0033cc;">
					<u>Dobrodosli </u> <span style="color: red;"> &nbsp&nbsp {{rolaUser.ime}} &nbsp  {{rolaUser.prezime}}</span>
				</h2>
				<br />
				<hr />
				<br />
				<table id="myTable">
					<tr>
						<th>Pretraga akata</th>
						<th>Pregled svih akata</th>
						<th ng-if="rolaUser.vrsta === 'odbornik' || rolaUser.vrsta === 'predsednik skupstine'">Predlaganje propisa</th>
						<th ng-if="rolaUser.vrsta === 'odbornik' || rolaUser.vrsta === 'predsednik skupstine'">Predlaganje amandmana</th>
						<th ng-if="rolaUser.vrsta === 'predsednik skupstine'">Rukovodjenje sednicom</th>
						<th ng-if="rolaUser.vrsta === 'predsednik skupstine'">Dodavanje odbornika</th>
					</tr>
					<tr>
						<td class="sredina"><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="pretragaAkata()">
								<img src="css/images/search.jpg" height="50" />
							</button></td>
						<td class="sredina"><button type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="sviAkti()">
								<img src="css/images/data.jpg" height="50" />
							</button></td>
						<td class="sredina" ng-if="rolaUser.vrsta === 'odbornik' || rolaUser.vrsta === 'predsednik skupstine'" ng-click="addAkt()"><button
								type="button"
								style="background-color: transparent; border-color: transparent;">
								<img src="css/images/addAkt.png" height="50" />
							</button></td>
							
							
						<td class="sredina" ng-if="rolaUser.vrsta === 'odbornik' || rolaUser.vrsta === 'predsednik skupstine'" ng-click="addAmandman()"><button
								type="button"
								style="background-color: transparent; border-color: transparent;">
								<img src="css/images/amandman.png" height="50" />
							</button></td>
							
							
						<td class="sredina" ng-if="rolaUser.vrsta === 'predsednik skupstine'"><button
								type="button"
								style="background-color: transparent; border-color: transparent;" ng-click="sednica()">
								<img src="css/images/predsednik.png" height="50" />
							</button></td>
						<td class="sredina" ng-if="rolaUser.vrsta === 'predsednik skupstine'">
							<a ui-sref="register">
								<button type="submit"
									style="background-color: transparent; border-color: transparent;">
									<img src="css/images/addUser.png" height="50" />
								</button>
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>	
	</div>
</div>
