<div id="header" ng-controller="logInCtrl">
	<h1>IssgNS</h1>
	<ul>
		<li><a ui-sref="pregledAkata">Nazad</a></li>
		<li><a ui-sref="main">Home</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">About</a></li>
		<li><a ng-click="logout()">Odjavi se </a></li> 
	</ul>
</div>
<div id="main">
	<div class="main_body">
		<div ng-bind-html="htmlXsl"> </div>
		<br/><br/><hr/>
		<div class="wrapper">
					<button class="buttonSredina" type="button"
						style="background-color: transparent; border-color: transparent;"
						ng-click="">
						<img src="css/images/approve.png" height="45" />
					</button>
					<button class="buttonSredina" type="button"
						style="background-color: transparent; border-color: transparent;"
						ng-click="odbijenPropis()">
						<img src="css/images/reject.ico" height="45" />
					</button>
				</div>
	</div>
</div>
