<div id="header" ng-controller="logInCtrl">
	<h1>IssgNS</h1>
	<ul>
		<li><a ui-sref="main">Nazad</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">About</a></li>
		<li><a ng-click="logout()">Odjavi se </a></li>
	</ul>
</div>
<div id="main">
	<div class="main_body">
		<div id="tableContainer-1">
			<div id="tableContainer-2">
				<br />
				<h2 style="text-align: center; color: #0033cc;">
					<u>Izaberite amandmane za prihvaćanje</u>
				</h2>
				<br />
				<hr />
				<br />
				
				<div>
					<table id="myTable" style="border: 1px solid black;">
						<tr ng-repeat="amandman in propis.amandman">
							<td class="sredina">Pregled amandmana <img
								src="css/images/right.jpg" height="25" /></td>
							<td class="sredina"><u><b> <a
										ng-click="pregledAkta(amandman.id)"> {{amandman.id}} </a>
								</b> </u></td>
							<td class="sredina"><input type="checkbox" value="{{amandman.id}}"
								ng-checked="listaIzabranihAmandmana.indexOf(amandman.id) > -1"
								ng-click="toggleSelection(amandman.id)"></td>
						</tr>
					</table>
				</div>
				
				<br />
				<hr />
				
				<div class="wrapper">
					<p style="text-align: center;">Pregled amandmana</p>
					<button class="buttonSredina" type="button"
						style="background-color: transparent; border-color: transparent;"
						ng-click="nastaviSaAmandmanima()">
						<img src="css/images/start.png" height="50" />
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
